.nav-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.avatar-menu {
  border: none;
  background-color: inherit;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/*# sourceMappingURL=nav-bar.component.css.map */