/* Large */
.nav-bar-container
  display: flex
  flex-flow: row wrap
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end
  color: #3f51b5

/* Medium screens */
@media all and (max-width: 800px)
  .nav-bar-container
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around
/* Small screens */
@media all and (max-width: 600px)
  .nav-bar-container
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column



  // .nav-bar-container
  // display: flex
  // justify-content: flex-end
  // align-items: center

.avatar-menu
  border: none

button
  margin: 10px

