<div class="nav-bar-container">
  <button mat-button (click)="this.goToAllArts()">All Arts</button>
  <ng-container *ngIf="this.isLoggedIn; else notLogged">
    <button mat-button (click)="this.goToCreateArt()">Create Art</button>
    <button mat-button (click)="this.goToProfile()">About me</button>
    <button mat-button (click)="this.myWorkClick()">My work</button>
    <button mat-button (click)="this.logout()">Logout</button>
  </ng-container>
  <ng-template #notLogged>
    <button mat-button (click)="this.onLogInSignUpClick()">LogIn/SignUp</button>
  </ng-template>

</div>

