

.example-card
  margin-top: 7%
  color: #3f51b5

.image-img
  object-fit: cover
  object-position: center
  height: fit-content
  max-height: 300px

.card-actions
  display: flex
  justify-content: flex-end
  align-items: center
