<mat-card class="example-card">
  <mat-card-actions class="card-actions">
    <button mat-button (click)="this.detailsClick()">
      Details
      <i class="material-icons" id="redirect-icon">subdirectory_arrow_right</i>
    </button>
  </mat-card-actions>
  <!-- <mat-card-content> -->
    <img mat-card-image class="image-img" [src]="'http://localhost:5000/' + this.artItem.url" alt="Photo unavailable">
  <!-- </mat-card-content> -->
</mat-card>
