// Large
.all-arts-wrapper
  display: flex
  flex-flow: row wrap
  justify-content: flex-start

app-preview-art
  max-width: 22%
  margin-left: 1.5%
  margin-right: 1.5%

@media all and (max-width: 1100px)
  .navigation
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
  app-preview-art
    max-width: 30%

@media all and (max-width: 925px)
  .navigation
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
  app-preview-art
    max-width: 47%

@media all and (max-width: 600px)
  app-preview-art
    max-width: 97%

