<div class="all-arts-wrapper">
  <ng-container *ngIf="this.arts?.length > 0; else nothingStill">
    <app-preview-art *ngFor="let art of this.arts" [artItem]="art"></app-preview-art>
  </ng-container>
  <ng-template #nothingStill>
    <h3>There are no arts for now! Do you want to <a style="color: blue; cursor: pointer;" (click)="this.redirectToCreate()">add</a> one?</h3>
  </ng-template>
</div>
