<mat-tab-group class="login-form" mat-align-tabs="center" headerPosition="below">

	<mat-tab label="Login">
		<ng-template matTabContent>
		  <app-login (loginEvent)="this.login($event)"></app-login>
		</ng-template>
	</mat-tab>

	<mat-tab label="Register">
		<ng-template matTabContent>
		  <app-register (registerEvent)="this.register($event)"></app-register>
		</ng-template>
	  </mat-tab>
  </mat-tab-group>
  <div style="margin-top: 3%;text-align: center;">
    <button mat-raised-button (click)="this.onCancelClick()">Cancel</button>
  </div>
