header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  padding: 15px;
  background-color: #3f51b5;
}

.header-menu {
  text-align: right;
}

.header-logo {
  font-family: 'Lobster', cursive;
}

#logo {
  font-size: 32px;
  font-weight: bold;
  font-family: inherit;
  text-shadow: 1px 1px 1px #000000;
}
/*# sourceMappingURL=header.component.css.map */