<div class="upload-photo-container">
  <div *ngIf="this.previewUrl">
    <img [src]="this.previewUrl" height="400" width="350" />
    <br>
    <button mat-stroked-button (click)="this.removeImg()" style="margin: 1% auto;">Remove photo</button>

  </div>
  <input
    #photoInput
    hidden="false"
    type="file"
    (change)="photoInputChange($event)"
    accept="image/*,video/*"
  />
  <button mat-flat-button color="primary" (click)="photoInput.click()">
    Choose image
  </button>
</div>
