<div class="create-art-item-container">
  <h2>Create your art</h2>
  <form [formGroup]="createArtItemForm" class="create-art-item-form">
    <mat-form-field style="width: 80%;">
      <mat-label>Description</mat-label>
      <textarea
        rows="15"
        formControlName="description"
        matInput
        type="text"
        placeholder="Description..."
      ></textarea>
      <span
        >{{ this.createArtItemForm.controls.description?.value?.length }} /
        3000</span
      >
      <mat-error
        *ngIf="this.createArtItemForm.controls.description?.errors"
      >
        Description should be at least 20 chars long!
      </mat-error
      >
    </mat-form-field>
    <br />

    <app-upload-image
    style="width: 80%;"
      [previewUrl]="this.photo"
      (addPhoto)="this.onAddPhoto($event)"
      (removePhoto)="this.onRemovePhoto()"
    ></app-upload-image>
    <br />
    <button
      id="create-art-item-btn"
      mat-raised-button
      color="primary"
      type="submit"
      (click)="this.onCreateClick()"
      [disabled]="!this.createArtItemForm.valid || !this.photo"
    >
      Create
    </button>
  </form>
</div>
