<app-header></app-header>
<router-outlet></router-outlet>
<ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "large"
color = "yellow"
type = "pacman"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner>
