<mat-card class="example-card">
  <mat-card-header>
  </mat-card-header>
  <img mat-card-image [src]="'http://localhost:5000/' + this.artItem.url" alt="Photo unavailable">
  <mat-card-content>
    <mat-card-subtitle>Author: <a (click)="this.goToUserProfile(this.artItem.userId)" style="color: blue; cursor: pointer;">{{ this.artItem.user.username }}</a></mat-card-subtitle>
    <p>
      {{ this.artItem.description }}
    </p>
    <p>
      {{ this.artItem.createTime }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <ng-container *ngIf="this.loggedUser?.Id === this.artItem.user.id || this.loggedUser?.role?.name === 'ADMIN'">
      <button mat-button>Edit</button>
      <button mat-button>Delete</button>
    </ng-container>
    <button mat-button (click)="this.onCommentsClick()">
      <i class="material-icons" id="redirect-icon">comment</i>
    </button>
  </mat-card-actions>
  <mat-card-content>
    <ng-container *ngIf="this.loadedReviews">
      <app-all-reviews
      [artId]="this.artItem.id"
        >
      </app-all-reviews>
    </ng-container>
  </mat-card-content>
</mat-card>



