<h4 >Create Review</h4>
<form id="create-review-form" [formGroup]="createReviewForm" (ngSubmit)="createReview()">
  <mat-form-field style="width: 100%;">
    <textarea matInput formControlName="text" style="height: 60px;" placeholder="Enter your review here"></textarea>
    <mat-error *ngIf="createReviewForm.controls.text?.errors?.required">This field is required!</mat-error>
    <mat-error *ngIf="createReviewForm.controls.text?.errors?.minlength">The review should be at least 5 symbols long!</mat-error>
    <mat-error *ngIf="createReviewForm.controls.text?.errors?.maxlength">The review should be less than 500 symbols long!</mat-error>
  </mat-form-field>
  <br>
  <button id="create-review-btn" mat-raised-button type="submit" [class.disabled]="!createReviewForm.valid">Publish</button>
</form>

