<div style="display: flex;" id="server-error-container">
    <div id="message-container">
        <span id="code">500</span>
        <h1><i class="material-icons">mood_bad</i>There was an error! We are sorry! </h1>
        <br>
        <p id="redirect-message" (click)="redirectToHomePage()">Go to home
            <i class="material-icons" id="redirect-icon">subdirectory_arrow_right</i>
        </p>
    </div>
</div>
