<div>
    <mat-card id="mat-card">
        <mat-card-header>
            <mat-card-title>{{this.review.user.username}}
                <span *ngIf="this.review.user.role.name === 'ADMIN'">
                    <i class="material-icons" title="Admin">
                        verified_user
                    </i>
                </span>
            </mat-card-title>
            <mat-card-subtitle><i>{{this.review.create_time}}</i></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>{{this.review.content}}
        </mat-card-content>
        <br>
                <span id="delete" *ngIf="this.canEdit"  (click)="deleteReview()">
                        <i>
                            <i class="material-icons" >remove_circle</i> Delete
                        </i>
                    </span>
                    <span id="edit" *ngIf="this.canEdit" (click)="toggleEditMenu()" [class.yellow]="this.isEditMenuOpen">
                        <i>
                            <i class="material-icons">edit</i>
                            Edit
                        </i>
                    </span>
        <app-update-review *ngIf="this.isEditMenuOpen" [reviewTextToUpdate]="this.review.content"
            (closedMenu)="toggleEditMenu($event)" (newTextEvent)="updateReview($event)"></app-update-review>
    </mat-card>
</div>
