.profile-card
  max-width: 70%
  margin-left: 15%
  margin-right: 15%

.actions
  display: flex
  justify-content: flex-end
  flex-flow: row wrap

@media all and ( max-width: 260px )
  .actions
    flex-direction: columns
    justify-content: space-around

