<div class="profile-wrapper">
  <mat-card class="profile-card">
    <mat-card-actions class="actions" *ngIf="this.currUser.id === this.loggedUser.Id || this.loggedUser.role.name === 'ADMIN'">
      <button mat-button (click)="this.editUser()">Edit</button>
      <button mat-button (click)="this.deleteUser()">Delete</button>
    </mat-card-actions>
    <mat-card-header>
      <mat-card-title>
        {{ this.currUser.username }}
        <span *ngIf="this.currUser.role.name === 'ADMIN'">
          <i class="material-icons" title="Admin">
              verified_user
          </i>
        </span>
      </mat-card-title>
      <mat-card-subtitle>{{ this.getFullName() }}</mat-card-subtitle>
      <mat-card-subtitle>{{ this.currUser.email }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="margin-top: 3%;">
      <ng-container *ngIf="this.userArts">
        <h3>My arts</h3>
        <app-all-art-items>

        </app-all-art-items>
      </ng-container>
    </mat-card-content>
  </mat-card>
</div>
