<div id="reviews-container">
    <app-create-review (newReviewEvent)="createReview($event)"></app-create-review>
    <app-review-info 
        *ngFor="let review of reviews"
        [review]="review"
        [user]="loggedUser"
        (newTextEvent)="updateReview($event)"
        (deleteReviewEvent)="deleteReview($event)"
        (newVoteEvent)="vote($event)"
        (newFlagEvent)="flag($event)"
    >
    </app-review-info>
</div>
