#reviews-container {
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #reviews-container {
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #reviews-container {
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #reviews-container {
        margin-left: 50px;
        margin-right: 50px;
        padding-bottom: 20px;
    }
}